body {
    min-height: 4096px;
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 100%;
    background-color: red;
    transition: background-color 0.2s linear;
}
